        html         { overflow-y:scroll; }
        body         { padding-top:50px; background-color: #DBDBDB;}
        button		 { margin-top: 10px;}	
        #todo-list   { margin-bottom:10px; }
       	.container	 { margin-top: 10%; }
       	.jumbotron	 { background-color: rgba(55,57,54,0.9); color: #A6F754;}
    			
    					
    				
    					
    							
